#calendar_desc { width: 300px; float: right; margin: 180px -7px 0 0;}
#calendar { width: 300px; right: 30px;}
#calendar th, #calendar td{
    text-align: center;
}

#calendar .weekdays-row th {
    background-color: #fff;
}

#calendar .month-year-row { background-color: #D3E5EA !important;}
#calendar .month-year-row th { background: none;}

#calendar .calendar-selected-day {
    font-weight: bold;
}
.date_free { background: #ccffcc;}
.date_succ { background: #ff9999;}
.date_brony { background-color: #D3E5EA;}