#calendar { width: 300px; right: 30px;}
#calendar th, #calendar td{
    text-align: center;
}

#calendar .weekdays-row th {
    background-color: #fff;
}

#calendar .month-year-row { background-color: #D3E5EA !important;}
#calendar .month-year-row th { background: none;}

#calendar .calendar-selected-day {
    font-weight: bold;
}
#calendar .date_free { background: #ccffcc;}
#calendar .date_succ { background: #ff9999;}
#calendar .date_brony { background-color: #D3E5EA;}